.vscode/
get_middle_results.ipynb
arithmetic_decoding_raw_results.csv
arithmetic_decoding_raw_results.json
test_llmzip_hf.sh
test_texts/
llama/__pycache__/
.gitignore
LLMzip_json_compression
run_json.sh
LLMzip_run_json.py
compression_results.json
__pycache__/